@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --success-color: #6ab04c;
  --site-color: #f44336;
  --danger-color: #ff0707;

  --main-color: #727475;
  --main-bg-color: #fff;
  --second-bg-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-style: italic;
  font-family: 'Rubik', sans-serif;
}


/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--main-bg-color);
  align-items: center;
  position: sticky;
  top: 0px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .12);
  padding: 5px 15px;
  font-size: 22px;
  z-index: 5;
}


.navbar > div {
  display: flex;
  align-items: center;
}

.bars,
.mode,
.notification {
  margin-right: 20px;
  cursor: pointer;
}

.logo {
  width: 50px;
}

.input-box {
  width: 40%;
  font-size: 18px;
  position: relative;
}

.input-box input {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--second-bg-color);
  padding: 10px 10px 10px 30px;
  border-radius: 30px;
}

.input-box .search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.notification,
.avatar {
  position: relative;
  cursor: pointer;
}

.notification .number {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  background-color: var(--site-color);
  width: 20px;
  height: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -10px;
  right: -10px;
}


.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


/* DropDown */

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, .2);
  background-color: var(--main-bg-color);
  width: 280px;
  border-radius: 7px;
  display: none;
}


.dropdown-menu.active {
  display: block;
}

.dropdown-menu.setting {
  width: 150px;
}

.dropdown-content {
  max-height: 400px;
  overflow: auto;
}

.dropdown-content li, 
.avatar .dropdown-menu .item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--second-bg-color);
  cursor: pointer;
  font-size: 15px;
}

.dropdown-content li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.dropdown-content li .text {
  margin-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.dropdown-menu .dropdown-content li:hover,
.avatar .dropdown-menu .item:hover {
  background-color: var(--second-bg-color);
}

.dropdown-content li:hover .text {
  white-space: pre-wrap;
}

.dropdown-menu .item span {
  margin-right: 20px;
}

/* sidebar */

.content {
  display: flex;
}

.content .sidebar {
  height: calc(100vh - 60px);
  width: 80px;
  position: sticky;
  top: 60px;
  background-color: var(--main-bg-color);
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .12);
  transition: .4s width ease;
  flex-shrink: 0;
}

.content .sidebar:hover {
  width: 250px;
}

.content .sidebar.active {
  width: 250px;
}

.sidebar .sidebar-nav {
  display: flex;
  align-items: center;
  padding: 15px 0;
  position: relative;
  cursor: pointer;
  transition: .3s background ease;
  font-size: 17px;
  overflow: hidden;
}


.sidebar .sidebar-nav:hover {
  background-color: var(--second-bg-color);
}


.sidebar .sidebar-nav.active {
  background-color: var(--second-bg-color);
  color: var(--site-color);
}

.sidebar .sidebar-nav.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: var(--site-color);
}

.sidebar-nav .icon {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  flex-shrink: 0;
}


/* Wrapper */


.content .wrapper {
  width: 100%;
  padding: 10px;
  background-color: var(--second-bg-color);
  overflow: hidden;
}

.wrapper .row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}


.row .box {
  width: 23%;
  margin: 10px 1px;
  padding: 20px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
}

.row .box:nth-of-type(odd) {
  background: linear-gradient(to right, #e43a15, #e65245);
}

.row .box:nth-of-type(even) {
  
  background: linear-gradient(to right, #66bb6a, #43a047)
}


.row .box img {
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.box:nth-of-type(1) img {
  left: 10px;
  width: 50px;
}

.box:nth-of-type(4) img {
  right: 10px;
  width: 50px;
}


.box span {
  margin: 2px 0;
  font-size: 17px;
  position: relative;
}


/* Table */

.table {
  padding: 20px;
  width: 100%;
  margin: 10px 0;
  background-color: var(--main-bg-color);
  overflow: auto;
}

.table-body {
  max-height: 400px;
}

.table-body .table-row:first-of-type {
  font-weight: bold;
  border: none;
}


.table-body .table-row {
  display: grid;
  grid-template-columns: repeat(6, minmax(180px, auto));
  padding: 10px 0px;
  border-bottom: 2px solid var(--second-bg-color);
  position: relative;
}


.table-body .table-row:not(:first-of-type)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 80%;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--site-color);
}

.table-body .table-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-row .status span {
  padding: 7px 5px;
  background-color: var(--success-color);
  color: #FFF;
  border-radius: 5px;
}

.table-row .status span.cancel,
.table-row .actions button:first-of-type {
  background-color: var(--danger-color);
}

.table-row .status span.accept,
.table-row .actions button:last-of-type {
  background-color: var(--success-color);
}


.table-row .progress .bar {
  background-color: var(--main-color);
  width: 100%;
  height: 8px;
  border-radius: 5px;
  position: relative;
}

.table-row .progress .bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: var(--site-color);
  border-radius: 5px;
}

.table-row .progress .bar::before {
  content: "80%";
  position: absolute;
  top: -20px;
}




.table-row .actions button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  margin-right: 5px;
  color: white;
}


